.ts {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  font-size: 50px;

}
.taylor {
    height: 100%;
    background-image: url('rep.jpeg');
    background-repeat: repeat;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
}

table { 
  display: hidden;
  width: 100%;
}
table, th, td {
    background-color: rgba(243, 241, 239, 0.6);
    color: black;
}

th, td {
    padding: 10px;
}
td:nth-child(1), td:nth-child(3), td:nth-child(4) {
  text-align: center;
}
.star {
    color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.leftPanel{
  float: left;
  width: 50%;
}
.rightPanel {
  display: none;
  float: right;
  width: 50%;
  padding: 10px 10px 0 0;
}
.albName{ 
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  font-family: "Cambria";
  padding: 20px;
}
.info {
  display: none;
  top: 30%;
  position: absolute;
  width: 50%;
}
.desc {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  padding: 20px;
  font-family: "Cambria";
  background-color: rgba(243, 241, 239, 0.6);
  margin: 0 20px 0 20px;
}
.albName > span {
  background-color: rgba(243, 241, 239, 0.6);
  padding: 15px; 
}
.btn {
  margin: 0 10px 0 10px;
}
.dropdown {
  margin-top: 10px;
  height: 100%;
}
.dropdown-menu {
  left: 160px !important;
}
.landing {
  display: block;
  width: 50%;
  top: 25%;
  left: 25%;
  background-color: rgba(243, 241, 239, 0.6);
  padding: 15px; 
  z-index: 2;
  position: absolute;
}
.title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Cambria";
  padding: 20px; 
}